.logo {
  position: relative;
  width: 100%;
  max-width: rem(650);
  overflow: hidden;
  background: {
    image: url("../images/unbridled.svg");
    repeat: no-repeat;
    position: center;
    size: contain;
  }

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: percentage(117/650);
  }
}

.logo__text {
  position: absolute;
  top: 100%;
  right: 100%;
}