.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main__text {
  max-width: 40em;
  margin-top: 2.5em;

  @include media($medium-screen-up) {
    font-size: em(18);
  }

  @include media($large-screen-up) {
    font-size: em(24);
  }

  > * + * {
    margin-top: 1.5em;
  }
}