.socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__item {
  + #{&} {
    margin-left: rem(20);
    
    @include media($medium-screen-up) {
      margin-left: rem(40);
    }
  }

}

.socials__link {
  position: relative;
  display: block;
  color: $body-text;
  text-decoration: none;
  
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    height: rem(1);
    background-color: $body-text;
    opacity: 0;
    transition: opacity 0.15s $ease-out-cubic;
  }

  &:hover,
  &:focus {
    &:before {
      opacity: 1;
    }
  }
}