.socials {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials__link {
  display: block;
  padding: rem(10);
  color: $white;
  text-decoration: none;
  transition: opacity 0.15s cubic-bezier(0.22, 0.61, 0.36, 1);

  @include media($medium-screen-up) {
    padding: rem(20);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}